/* Insert any CSS code below here */
body{
  background-color: black;
}
.posterContainer{
  border:dotted red;
  border-width:12px;
  margin:3em;
  background-color: yellow;
  height: 850px;
}

.title{
  text-align: center;
  border: solid black;
  margin: 5em;
  font-size: 22px;
}
.info{
  font-size: 28px;
  text-align: center;

}
.robot{
  border: solid black;
  border-radius: 4%;
  margin-left: 42%;
  image-resolution:initial
}
.description{
  border: solid black;
  color: black;
  margin: 3em;
  font-size: 22px;
}
.dsc{
margin: 12px;
font-size: 22px;
}
.contactinfo{
  border: solid black;
  border-width: 100%;
  font-size: 22px;
  text-align: left;
  color: red;
  margin: 1em;
}
.payola{
  border: dotted green;
  border-width: 100%;
  margin: 2em;
  text-align: center;
  color: green;
  font-size: 20px;
}